{
    "fields": {
        "project": {
            "key": "{{ project_key }}"
        },
        "summary": "{{ summary }}",
        "description": "{{ description }}",
        "issuetype": {
            "name": "{{ issue_type }}"
        }
    }
}
